<%-include('../partial/header')-%>
<div class=" container">
    <button id="btn-company-info">Company Info</button>
    <button id="btn-manager-info">Managers</button>
    <button id="btn-employees-info">Employees</button>
    <center id="company-info-panel">
        <div class="card d-flex justify-start">
            <p> Company Name: <%= data.name %> </p>
            <p> Registration Number: <%= data.registrationNo %> </p>
            <p> City: <%= data.city %> </p>
            <p> State: <%= data.state %> </p>
            <p> Registration Date: <%= data.registrationDate %> </p>
            <p> Tel: <%= data.tel %> </p>
        </div>
    </center>
    <br>

    <%if(manager){%>

    <center id="manager-table">
        <div style="width:auto; border-style: solid;border-color: black;">
            <table class="table table-border table-hover">
                <thead class="bg-warning">
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            National ID
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Manager
                        </th>
                        <th>
                            Date of Birth
                        </th>
                        <th>
                            Company
                        </th>
                        <th class="edit_panel">
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr id=<%= manager.id %>>
                        <td>
                            1
                        </td>
                        <td>
                            <%=manager.firstName %>
                        </td>
                        <td>
                            <%=manager.lastName %>
                        </td>
                        <td>
                            <%=manager.nationalId %>
                        </td>
                        <td>
                            <%=manager.gender %>
                        </td>
                        <td>
                            <%= manager.manager %>
                        </td>
                        <td>
                            <%= `${manager.dateOfBirth.getFullYear()}-${manager.dateOfBirth.getMonth()}-${manager.dateOfBirth.getDate()}` %>
                        </td>
                        <td>
                            <%= manager.companyId.name %>
                        </td>
                        <td class="edit_panel">
                            <form action="/employees/delete<%= manager._id %>" method="GET" class="row">
                                <input type="submit" value="Delete">
                                <input type="button" value="Edit" class="btn_employee_edit">
                            </form>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </center>
    <center id="employees-table">
     
        <div style="width:auto; border-style: solid;border-color: black;"></div>
        <table class="table table-border table-hover">
            <thead class="bg-warning">
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        National ID
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Manager
                    </th>
                    <th>
                        Date of Birth
                    </th>
                    <th>
                        Company
                    </th>
                    <th class="edit_panel">
                        Edit
                    </th>
                </tr>
            </thead>
            <% for(let employee of employees){ %>

            <tbody>

                <tr id=<%= employee.id %>>
                    <td>
                        1
                    </td>
                    <td>
                        <%=employee.firstName %>
                    </td>
                    <td>
                        <%=employee.lastName %>
                    </td>
                    <td>
                        <%=employee.nationalId %>
                    </td>
                    <td>
                        <%=employee.gender %>
                    </td>
                    <td>
                        <%= employee.manager %>
                    </td>
                    <td>
                        <%= `${employee.dateOfBirth.getFullYear()}-${employee.dateOfBirth.getMonth()}-${employee.dateOfBirth.getDate()}` %>
                    </td>
                    <td>
                        <%= employee.companyId.name %>
                    </td>
                    <td class="edit_panel">
                        <form action="/employees/delete<%=employee.id%>" method="GET" class="row">
                            <input type="submit" value="Delete">
                            <input type="button" value="Edit" class="btn_employee_edit">
                        </form>
                    </td>
                </tr>

            </tbody>
            <% } %>
        </table>
</div>

<%}%>
</center>

<center >
    <button id="show_add_panel">+</button>
    <div id="edit-panel" class="card">
        <div class="card-body" id="slide">
            <form action="/employees/create" method="POST">
                <div id="data-input" class="row col-4">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control input_border input_value" id="first_name" name="firstName" required
                        style="border:none;border-bottom:1px solid red">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control input_border input_value" id="last_name" name="lastName" required>
                    <label for="name">National ID</label>
                    <input type="text" class="form-control input_border input_value" id="national_id" name="nationalId"
                        required>
                    <label for="gender">Gender</label>
                    <select type="text" id="gender" class="form-control input_border input_value" name="gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label for="manager">Manager</label>
                    <select type="text" id="manager" class="form-control input_border input_value" name="manager" required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="text" class="form-control input_border input_value" id="datepicker" name="dateOfBirth"
                        required>
                    <label for="company_list">Company</label>
                    <select type="text" id="company_list" class="form-control input_border input_value" name="companyId"
                        required>
                        <option value=<%= data._id %> ><%= data.name %> </option>
                    </select>
                </div>
                <button id="submit" type="submit" class="mt-3">Submit</button>
                <button id="save" type="button" class="mt-3 d-none">Save</button>
                <button id="cancel" type="button" class="mt-3">Cancel</button>
            </form>
        </div>
    </div>
</center>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

        </body>

        </html>